<form th:fragment="formFragment">
  <div class="mb-3">
    <label for="exampleInputEmail" class="form-label">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail"
      aria-describedby="emailHelp"
    />
    <div class="form-text" id="emailHelp">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label for="exampleCheck1" class="form-check-label">Check me out</label>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
