<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head}"></head>
  <body style="margin: 5%">
    <!-- use for dynamic content with location fragment/component and name fragment/component -->
    <div th:replace="~{ ${path} :: ${fragment} }"></div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
